<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Users</key>
    <array>
        <dict>
            <key>userID</key>
            <integer>1</integer>
            <key>userName</key>
            <string>Gurwinder</string>
            <key>email</key>
            <string>gurwinder@gmail.com</string>
            <key>password</key>
            <string>guri123</string>
        </dict>
        <dict>
            <key>userID</key>
            <integer>2</integer>
            <key>userName</key>
            <string>Ujwal</string>
            <key>email</key>
            <string>ujwal@gmail.com</string>
            <key>password</key>
            <string>ujwal123</string>
        </dict>
        <dict>
            <key>userID</key>
            <integer>3</integer>
            <key>userName</key>
            <string>Udhay</string>
            <key>email</key>
            <string>udhay@gmail.com</string>
            <key>password</key>
            <string>udhay123</string>
        </dict>
        <dict>
            <key>userID</key>
            <integer>4</integer>
            <key>userName</key>
            <string>aman</string>
            <key>email</key>
            <string>aman@gmail.com</string>
            <key>password</key>
            <string>aman123</string>
        </dict>
        <dict>
            <key>userID</key>
            <integer>5</integer>
            <key>userName</key>
            <string>hargun</string>
            <key>email</key>
            <string>hargun@gmail.com</string>
            <key>password</key>
            <string>hargun123</string>
        </dict>
    </array>
</dict>
</plist>
